.todo-list {
    width: 100%;
}

.todo-list li {
    width: 100%;
    display: inline-flex;
    transition: 0.3s ease all;
    height: 30px;
    padding: 5px;
}

.todo-list li p {
    width: 100%;
}

.todo-list li:hover {
    background-color: #db5a41;
    color: white;
}
